@import 'core/variables';
@import 'components/typography';
@import 'components/_buttons.scss';
@import 'core/mixins';
@import 'core/_animation.scss';
@import 'layouts/container';

@import 'components/header';
@import 'components/_hero.scss';
@import 'components/tips';
@import 'components/reasons';
@import 'components/footer';

* {
  margin: 0;
  box-sizing: border-box;
}
.page{
  position:relative;
}
