<footer class="page__footer">
  <div class="container">
    <nav class="footer__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__item-link footer__text"href="#">Articles</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text"href="#">Books</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text"href="#">Events</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text"href="#">Reasons</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text"href="#">Tips</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
