<footer class="page__footer">
  <div class="container">
    <a
      class="footer__btn-link footer__button-container btn  footer__btn"
      href="#"
    >
      <img src="assets/images/ico-arrow.svg" alt=""
    /></a>

    <nav class="footer__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__item-link footer__text" href="#">Articles</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text" href="#">Books</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text" href="#">Events</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text" href="#reasons">Reasons</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link footer__text" href="#tips">Tips</a>
        </li>
      </ul>
    </nav>
    <div class="rrss">
      <ul class="rrss__list">
        <li class="rrss__item">
          <a class=" rrss__item-link footer__text" href="https://twitter.com"
            >Twitter</a
          >
        </li>
        <li class="rrss__item">
          <a
            class=" rrss__item-link footer__text"
            href="https://www.instagram.com/"
            >Instagram</a
          >
        </li>
        <li class="rrss__item">
          <a
            class=" rrss__item-link footer__text"
            href="https://mastodon.social/about"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </div>
    <div class="copy footer__small-text">
      <p class="ft__sm-text">©2019</p>
      <p class="ft__sm-text">we <span class="heart"> ❤ </span>components</p>
    </div>
  </div>
</footer>
