<main class="page__main">
<section class="page__hero">
  <div class="hero__section1">
    <div class="container"></div>
  </div>
  <div class="container">
  <div class="hero__section2">
  <h1 class="hero__title hero__title-text">
      Anonymous Proxy
  </h1>
  <p class="hero__subtitle">
      In hac habitasse platea dictumst.
  </p>
  <button class="hero__btn">
    <img src="assets/images/ico-scroll-down.svg" alt="">
    <a class="hero__link" href="#"></a>
  </button>
</div>
</div>

</section>

</main>
