<section class="page__reasons" id="reasons">
  <div class="container">
    <div class="reasons__title-container">
      <h2 class="reasons__title title__text">3 Reasons To Purchase</h2>
    </div>
    <ul class="reasons__list">
      <li class="reason reason1">
        <h3 class="reason__title subtitle__text">Ut sed metus</h3>
        <p class="reason__text p__text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </li>
      <li class="reason reason2">
        <h3 class="reason__title subtitle__text">Curabitur ac erat</h3>
        <p class="reason__text p__text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </li>
      <li class="reason reason3">
        <h3 class="reason__title subtitle__text">Morbi dictum</h3>
        <p class="reason__text p__text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </li>
    </ul>
    <div class="reasons__button-container">
      <button class="btn button__text reasons__button">More reasons</button>
    </div>
  </div>
</section>
