<main class="page__main">
  <section class="page__hero">
    <div class="hero__section1">
      <div class="container"></div>
    </div>
    <div class="hero__section2">
      <div class="container">
        <div class="hero__text">
          <h1 class="hero__title hero__title-text">
            Anonymous
            Proxy
          </h1>
          <p class="hero__subtitle">
            In hac habitasse platea dictumst.
          </p>
        </div>
        <div class="hero__button-container">

            <a class="hero__btn-link" href="#tips"><button class="btn hero__btn"><img src="ico-scroll-down.svg" alt="" /></button></a>


        </div>
      </div>
    </div>
  </section>
  <article class="tips" id="tips">
    <div class="container">
      <p class="text__small tips__small-text">
        Insomnia Tips
      </p>
      <h2 class="tips__title title__text">Looking Through A Window</h2>
      <p class="tips__text article__text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <div class="btn btn__border button__text tips__link-container">
        <a href="#" class="tips__link">
          Go
        </a>
      </div>
    </div>
  </article>
  <section class="page__reasons">
    <div class="container">
      <div class="reasons__title-container">
        <h2 class="reasons__title title__text">3 Reasons To Purchase</h2>
      </div>
      <div class="reason reason1">
        <h3 class="reason__title subtitle__text">Ut sed metus</h3>
        <p class="reason__text p__text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </div>
      <div class="reason reason2">
        <h3 class="reason__title subtitle__text">Curabitur ac erat</h3>
        <p class="reason__text p__text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </div>
      <div class="reason reason3">
        <h3 class="reason__title subtitle__text">Morbi dictum</h3>
        <p class="reason__text p__text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </div>
      <div class="reasons__button-container">
        <button class="btn button__text reasons__button">More reasons</button>
      </div>
    </div>
  </section>
</main>
