.container {
  margin: 0 15px;
}

/*MEDIA QUERY CONTAINER */

@media all and (min-width: 768px) {
  .container {
    margin: 0 39px;
  }
}

@media all and (min-width: 1200px) {
  .hero__section1 .container,
  .hero__section2 .container,
  .tips .container {
    margin: 0 275px;
  }
  .page__reasons .container {
    margin: 0 80px;
  }
  .page__footer .container {
    margin: 0 370px;
  }
}
