.container {
  margin: 0 15px;
}

/*MEDIA QUERY CONTAINER */

@media all and (min-width: 768px) {
  .container {
    margin: 0 39px;
  }
}

@media all and (min-width: 820px) {
.container {
    margin: 0 auto;
    max-width: 730px;
  }
  .page__reasons .container {
    margin: 0 45px;
  }
}

@media all and (min-width: 850px) {
  .page__reasons .container {
    margin: 0 auto;
    max-width: 730px;
  }
}
@media all and (min-width: 1280px) {
  .page__reasons .container {
    margin: 0 auto;
    max-width: 1114px;

  }
}
