.footer__btn {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $white;
  @include center();
}

.page__footer {
  padding: 60px 0 45px;
  background-color: $color-footer-bg;
  position: relative;
}
.nav__list,
.rrss__list{
  list-style: none;
  margin: 0;
  padding: 0;
  @include center();
  flex-direction: column;
  margin-bottom: 30px;
}
.copy {
  @include center();
  flex-direction: column;
}
.nav__item-link,
.rrss__item-link {
  text-decoration: none;
}

.footer__button-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.heart {
  color: #f26002;
}

/* MEDIA QUERY FOOTER */

@media all and (min-width: 768px) {
  .page__footer {
    padding: 45px 0;
  }
  .page__footer .container {
    display: flex;
    justify-content: space-between;
  }
  .copy {
    order: -1;
    text-align: left;
    justify-content: flex-start;
  }
  .nav__list,
  .rrss__list,
  .copy {
    align-items: flex-start;
    margin-bottom:0;
  }
}
@media all and (min-width: 1200px) {
  .nav__list {
    margin-bottom: 0;
  }
}
