.page__hero {
  background-image: url(../images/cover.jpg);
  @include bg-img();
  height: 100vh;
  min-height:100vh;
}
.hero__section {
  height: 100%;
  text-align: center;
  padding-top: 50vh;
  @include center();
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  margin-bottom: 10px;
}

.hero__btn {

  margin-bottom: 53px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $white;
  @include center();
  display: none;
  text-decoration: none;
  @media all and (min-width:768px){
    display:flex;
  }
  &:hover {
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: 2;
  }
}

/* MEDIA QUERIES HERO */

@media all and (min-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__btn {
    margin-bottom: 45px;
  }
}

@media all and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 0;
  }

  .hero__btn {
    margin-bottom: 13px;
  }
}
