.page__hero {
  background-image: url(../images/cover.jpg);
  @include bg-img();
  height: 100vh;
}
.page__hero .container {
  @include center();
  height: 100%;
  position:relative;
}
.hero__text{
  text-align: center;
  transform: translateY(50%);
}
.hero__title {
  margin-bottom: 10px;
}
.hero__button-container{
  position:absolute;
  bottom:53px;
  left:50%;
  transform: translateX(-50%);
}
.hero__btn {
  margin: 0 auto;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $white;
  @include center();
}
.hero__btn-link {
  @include center();
  text-decoration: none;
}
/* MEDIA QUERIES HERO */

@media all and (min-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
  }

  .hero__button-container{
    bottom:45px;
  }
}
@media all and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 0;
  }
  .hero__button-container{
    bottom:13px;
  }
}
