/* COLORS */

$color_lightblue: #8ccbea;
$color_black: #000000;
$bright-orange: #f26002;
$cerulean: #0271bc;
$ice-blue: #eff9ff;
$greyish-brown: #4a4a4a;
$dark-grey-blue:#304268;

$white: #fff;

$color-footer-bg:$dark-grey-blue;
$color-menu-button:$cerulean;
$color-button:$bright-orange;
$color-hero_footer-text: $white;
$color-small-text:$color_lightblue;
$color-primary-text:$color_black;
$color-secondary-text:$greyish-brown;
$color-background-blue: $ice-blue;


/* FONT */

$font-family-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-size-xxl:80px;
$font-size-xl: 42px;
$font-size-x:26px;
$font-size-lg:24px;
$font-size-reg:20px;
$font-size-md: 18px;
$font-size-sm: 16px;
$font-size-xs: 14px;

$font-weight-normal: 500;
$font-weight-bold: 700;

$line-height-xxl: 105px;
$line-height-xl: 55px;
$line-height-lg: 45px;
$line-height-reg:32px;
$line-height-md: 30px;
